
    <div class="page-padding">
      <div class="container-v3">
        <div class="collection-grid">
          {%- for block in section.blocks -%}{%- if block.type == "first_block" -%}<div id="w-node-_4f49c7a4-c9d7-0762-e5dc-f625bc6f8850-bc6f884c" class="collection-block" block.shopify_attributes>
            <div class="image-card">
              <div class="background-image">
                <div class="image-overlay-category"></div>
              </div>
              <a href="{{ block.settings.first_link }}" class="image-card-link w-inline-block">
                <div class="card-contents">
                  <div class="icon-holder w-embed"><svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.3999 17C3.3999 16.0611 4.16102 15.3 5.0999 15.3H24.7944L20.8978 11.4021C20.285 10.7893 20.2379 9.82497 20.7564 9.15807L20.8978 8.99792C21.5106 8.3851 22.4749 8.33796 23.1418 8.8565L23.302 8.99792L30.102 15.7979L30.1724 15.8727V15.8727L30.2661 15.988V15.988L30.388 16.1771V16.1771L30.4788 16.3687V16.3687L30.539 16.5478V16.5478L30.5883 16.8003V16.8003L30.5999 17L30.5952 17.1279V17.1279L30.5655 17.3412V17.3412L30.5153 17.5306V17.5306L30.4407 17.7195V17.7195L30.3517 17.8852V17.8852L30.2382 18.0485C30.1959 18.1024 30.1504 18.1537 30.102 18.2021L23.302 25.0021C22.6381 25.666 21.5617 25.666 20.8978 25.0021C20.285 24.3893 20.2379 23.425 20.7564 22.7581L20.8978 22.5979L24.7944 18.7H5.0999C4.16102 18.7 3.3999 17.9389 3.3999 17Z" fill="white"></path>
                    </svg></div>
                  <div class="collection-grid-title">{{ block.settings.category_headline }}</div>
                  <div class="collection-grid-paragraph">{{ block.settings.category_information }}</div>
                </div>
              </a>
            </div>
          </div>{%- endif -%}{%- endfor -%}
          {%- for block in section.blocks -%}{%- if block.type == "second_block" -%}<div id="w-node-_4f49c7a4-c9d7-0762-e5dc-f625bc6f885b-bc6f884c" class="collection-block" block.shopify_attributes>
            <div class="image-card">
              <div class="background-image _2">
                <div class="image-overlay-category"></div>
              </div>
              <a href="{{ block.settings.second_link }}" class="image-card-link w-inline-block">
                <div class="card-contents">
                  <div class="icon-holder w-embed"><svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.3999 17C3.3999 16.0611 4.16102 15.3 5.0999 15.3H24.7944L20.8978 11.4021C20.285 10.7893 20.2379 9.82497 20.7564 9.15807L20.8978 8.99792C21.5106 8.3851 22.4749 8.33796 23.1418 8.8565L23.302 8.99792L30.102 15.7979L30.1724 15.8727V15.8727L30.2661 15.988V15.988L30.388 16.1771V16.1771L30.4788 16.3687V16.3687L30.539 16.5478V16.5478L30.5883 16.8003V16.8003L30.5999 17L30.5952 17.1279V17.1279L30.5655 17.3412V17.3412L30.5153 17.5306V17.5306L30.4407 17.7195V17.7195L30.3517 17.8852V17.8852L30.2382 18.0485C30.1959 18.1024 30.1504 18.1537 30.102 18.2021L23.302 25.0021C22.6381 25.666 21.5617 25.666 20.8978 25.0021C20.285 24.3893 20.2379 23.425 20.7564 22.7581L20.8978 22.5979L24.7944 18.7H5.0999C4.16102 18.7 3.3999 17.9389 3.3999 17Z" fill="white"></path>
                    </svg></div>
                  <div class="collection-grid-title">{{ block.settings.category_headline }}</div>
                  <div class="collection-grid-paragraph">{{ block.settings.category_information }}</div>
                </div>
              </a>
            </div>
          </div>{%- endif -%}{%- endfor -%}
          {%- for block in section.blocks -%}{%- if block.type == "third_block" -%}<div id="w-node-_4f49c7a4-c9d7-0762-e5dc-f625bc6f8866-bc6f884c" class="collection-block" block.shopify_attributes>
            <div class="image-card">
              <div class="background-image _4">
                <div class="image-overlay-category"></div>
              </div>
              <a href="{{ block.settings.third_link }}" class="image-card-link w-inline-block">
                <div class="card-contents">
                  <div class="icon-holder w-embed"><svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.3999 17C3.3999 16.0611 4.16102 15.3 5.0999 15.3H24.7944L20.8978 11.4021C20.285 10.7893 20.2379 9.82497 20.7564 9.15807L20.8978 8.99792C21.5106 8.3851 22.4749 8.33796 23.1418 8.8565L23.302 8.99792L30.102 15.7979L30.1724 15.8727V15.8727L30.2661 15.988V15.988L30.388 16.1771V16.1771L30.4788 16.3687V16.3687L30.539 16.5478V16.5478L30.5883 16.8003V16.8003L30.5999 17L30.5952 17.1279V17.1279L30.5655 17.3412V17.3412L30.5153 17.5306V17.5306L30.4407 17.7195V17.7195L30.3517 17.8852V17.8852L30.2382 18.0485C30.1959 18.1024 30.1504 18.1537 30.102 18.2021L23.302 25.0021C22.6381 25.666 21.5617 25.666 20.8978 25.0021C20.285 24.3893 20.2379 23.425 20.7564 22.7581L20.8978 22.5979L24.7944 18.7H5.0999C4.16102 18.7 3.3999 17.9389 3.3999 17Z" fill="white"></path>
                    </svg></div>
                  <div class="collection-grid-title">{{ block.settings.category_headline }}</div>
                  <div class="collection-grid-paragraph">{{ block.settings.category_information }}</div>
                </div>
              </a>
            </div>
          </div>{%- endif -%}{%- endfor -%}
          {%- for block in section.blocks -%}{%- if block.type == "fourth_block" -%}<div id="w-node-_4f49c7a4-c9d7-0762-e5dc-f625bc6f8871-bc6f884c" class="collection-block" block.shopify_attributes>
            <div class="image-card">
              <div class="background-image _3">
                <div class="image-overlay-category"></div>
              </div>
              <a href="{{ block.settings.fourth_link }}" class="image-card-link w-inline-block">
                <div class="card-contents">
                  <div class="icon-holder w-embed"><svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.3999 17C3.3999 16.0611 4.16102 15.3 5.0999 15.3H24.7944L20.8978 11.4021C20.285 10.7893 20.2379 9.82497 20.7564 9.15807L20.8978 8.99792C21.5106 8.3851 22.4749 8.33796 23.1418 8.8565L23.302 8.99792L30.102 15.7979L30.1724 15.8727V15.8727L30.2661 15.988V15.988L30.388 16.1771V16.1771L30.4788 16.3687V16.3687L30.539 16.5478V16.5478L30.5883 16.8003V16.8003L30.5999 17L30.5952 17.1279V17.1279L30.5655 17.3412V17.3412L30.5153 17.5306V17.5306L30.4407 17.7195V17.7195L30.3517 17.8852V17.8852L30.2382 18.0485C30.1959 18.1024 30.1504 18.1537 30.102 18.2021L23.302 25.0021C22.6381 25.666 21.5617 25.666 20.8978 25.0021C20.285 24.3893 20.2379 23.425 20.7564 22.7581L20.8978 22.5979L24.7944 18.7H5.0999C4.16102 18.7 3.3999 17.9389 3.3999 17Z" fill="white"></path>
                    </svg></div>
                  <div class="collection-grid-title">{{ block.settings.category_headline }}</div>
                  <div class="collection-grid-paragraph">{{ block.settings.category_information }}</div>
                </div>
              </a>
            </div>
          </div>{%- endif -%}{%- endfor -%}
          {%- for block in section.blocks -%}{%- if block.type == "fifth_block" -%}<div id="w-node-_4f49c7a4-c9d7-0762-e5dc-f625bc6f887c-bc6f884c" class="collection-block" block.shopify_attributes>
            <div class="image-card">
              <div class="background-image _5">
                <div class="image-overlay-category"></div>
              </div>
              <a href="{{ block.settings.fifth_link }}" class="image-card-link w-inline-block">
                <div class="card-contents">
                  <div class="icon-holder w-embed"><svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.3999 17C3.3999 16.0611 4.16102 15.3 5.0999 15.3H24.7944L20.8978 11.4021C20.285 10.7893 20.2379 9.82497 20.7564 9.15807L20.8978 8.99792C21.5106 8.3851 22.4749 8.33796 23.1418 8.8565L23.302 8.99792L30.102 15.7979L30.1724 15.8727V15.8727L30.2661 15.988V15.988L30.388 16.1771V16.1771L30.4788 16.3687V16.3687L30.539 16.5478V16.5478L30.5883 16.8003V16.8003L30.5999 17L30.5952 17.1279V17.1279L30.5655 17.3412V17.3412L30.5153 17.5306V17.5306L30.4407 17.7195V17.7195L30.3517 17.8852V17.8852L30.2382 18.0485C30.1959 18.1024 30.1504 18.1537 30.102 18.2021L23.302 25.0021C22.6381 25.666 21.5617 25.666 20.8978 25.0021C20.285 24.3893 20.2379 23.425 20.7564 22.7581L20.8978 22.5979L24.7944 18.7H5.0999C4.16102 18.7 3.3999 17.9389 3.3999 17Z" fill="white"></path>
                    </svg></div>
                  <div class="collection-grid-title">{{ block.settings.category_headline }}</div>
                  <div class="collection-grid-paragraph">{{ block.settings.category_information }}</div>
                </div>
              </a>
            </div>
          </div>{%- endif -%}{%- endfor -%}
        </div>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","collection-grid-section");</script>
        
{% schema %}
{
  "name": "Category Blocks",
  "tag": "div",
  "class": "collection-grid-section",
  "presets": [
    {
      "name": "Category Blocks"
    }
  ],
  "settings": [],
  "blocks": [
    {
      "name": "First Block",
      "type": "first_block",
      "settings": [
        {
          "type": "text",
          "id": "category_headline",
          "label": "Category Headline",
          "default": "Premium Zijden Kussenslopen"
        },
        {
          "type": "text",
          "id": "category_information",
          "label": "Category Information",
          "default": "Brengt jouw skincare routine naar het volgende niveau"
        },
        {
          "type": "url",
          "id": "first_link",
          "label": "First Link"
        }
      ]
    },
    {
      "name": "Second Block",
      "type": "second_block",
      "settings": [
        {
          "type": "text",
          "id": "category_headline",
          "label": "Category Headline",
          "default": "Slaapbundels"
        },
        {
          "type": "text",
          "id": "category_information",
          "label": "Category Information",
          "default": "Pefect voor de feestdagen. Het complete pakket."
        },
        {
          "type": "url",
          "id": "second_link",
          "label": "Second Link"
        }
      ]
    },
    {
      "name": "Third Block",
      "type": "third_block",
      "settings": [
        {
          "type": "text",
          "id": "category_headline",
          "label": "Category Headline",
          "default": "Heatless Curlers"
        },
        {
          "type": "text",
          "id": "category_information",
          "label": "Category Information",
          "default": "Voor mooie krullen gezonde krullen"
        },
        {
          "type": "url",
          "id": "third_link",
          "label": "Third Link"
        }
      ]
    },
    {
      "name": "Fourth Block",
      "type": "fourth_block",
      "settings": [
        {
          "type": "text",
          "id": "category_headline",
          "label": "Category Headline",
          "default": "Zijden scrunchies"
        },
        {
          "type": "text",
          "id": "category_information",
          "label": "Category Information",
          "default": "Stylish, goed voor je haar en matcht met iedere outfit"
        },
        {
          "type": "url",
          "id": "fourth_link",
          "label": "Fourth Link"
        }
      ]
    },
    {
      "name": "Fifth Block",
      "type": "fifth_block",
      "settings": [
        {
          "type": "text",
          "id": "category_headline",
          "label": "Category Headline",
          "default": "Slaapmaskers"
        },
        {
          "type": "text",
          "id": "category_information",
          "label": "Category Information",
          "default": "Reduceerd opzwollen ogen"
        },
        {
          "type": "url",
          "id": "fifth_link",
          "label": "Fifth Link"
        }
      ]
    }
  ]
}
{% endschema %}