{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "637827c07127a34bad78ada6" -%}{%- assign bodyClasses = "" -%}
  {%- section 'header' -%}
  <div class="usp-slider-2 home">
    <div id="w-node-bc40255d-9037-ba89-6487-bbbc7cc6aa9b-ad78ada6" class="announcement-usp">
      <div class="icon-16 w-embed"><svg width="auto" height="auto" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.93244 13.9794H10.9803L7.07148 8.63938C9.46496 6.53104 10.1193 3.81785 10.1193 1.88232H7.65693C7.65693 4.26717 6.36549 6.89395 3.42098 8.13822V1.88232H0.941406V13.9794H3.42098V10.7132C4.00644 10.5058 4.54024 10.2638 5.0396 10.0046L7.93244 13.9794Z" fill="currentcolor"></path>
          <path d="M13.4918 14.1174C14.3527 14.1174 15.0587 13.4089 15.0587 12.5448C15.0587 11.6807 14.3527 10.9722 13.4918 10.9722C12.6308 10.9722 11.9248 11.6807 11.9248 12.5448C11.9248 13.4089 12.6308 14.1174 13.4918 14.1174Z" fill="currentcolor"></path>
        </svg></div>
      <div>{{ 't1c734b07' | t }}</div>
    </div>
    <div class="announcement-usp">
      <div class="icon-16 w-embed"><svg width="auto" height="auto" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.5998 13.127C4.65314 13.127 2.31092 10.7848 2.31092 7.83813C2.31092 4.89146 4.65314 2.54924 7.5998 2.54924C9.11092 2.54924 10.5465 3.22924 11.5287 4.28702L10.1687 4.51368C9.79091 4.58924 9.48869 4.96702 9.56425 5.42035C9.6398 5.79813 9.94203 6.02479 10.3198 6.02479H10.4709L13.6442 5.42035C14.022 5.34479 14.3242 4.96702 14.2487 4.51368L13.6442 1.4159C13.5687 1.03813 13.1909 0.735904 12.7376 0.81146C12.3598 0.887016 12.0576 1.26479 12.1331 1.71813L12.3598 3.00257C11.0754 1.79368 9.41314 1.03813 7.5998 1.03813C5.10647 1.03813 2.91536 2.39813 1.70647 4.43813C1.10203 5.4959 0.799805 6.62924 0.799805 7.83813C0.799805 9.04702 1.10203 10.1803 1.70647 11.2381C2.31092 12.2959 3.14203 13.127 4.1998 13.7315C5.25758 14.3359 6.39092 14.6381 7.5998 14.6381C7.90203 14.6381 8.20425 14.4115 8.2798 14.1848C8.35536 14.1092 8.35536 13.9581 8.35536 13.8826C8.35536 13.807 8.35536 13.6559 8.2798 13.5803C8.20425 13.3537 7.90203 13.127 7.5998 13.127Z" fill="currentcolor"></path>
          <path d="M13.6442 8.59412C14.0615 8.59412 14.3998 8.25585 14.3998 7.83856C14.3998 7.42128 14.0615 7.08301 13.6442 7.08301C13.2269 7.08301 12.8887 7.42128 12.8887 7.83856C12.8887 8.25585 13.2269 8.59412 13.6442 8.59412Z" fill="currentcolor"></path>
          <path d="M13.4779 11.2565C13.6866 10.8951 13.5628 10.433 13.2014 10.2244C12.84 10.0157 12.3779 10.1396 12.1693 10.5009C11.9606 10.8623 12.0845 11.3244 12.4458 11.5331C12.8072 11.7417 13.2693 11.6179 13.4779 11.2565Z" fill="currentcolor"></path>
          <path d="M10.989 13.7087C11.3504 13.5001 11.4742 13.038 11.2655 12.6766C11.0569 12.3152 10.5948 12.1914 10.2334 12.4001C9.87206 12.6087 9.74824 13.0708 9.95688 13.4322C10.1655 13.7935 10.6276 13.9174 10.989 13.7087Z" fill="currentcolor"></path>
          <path d="M8.35535 7.53592V5.57147C8.35535 5.11814 8.05313 4.81592 7.59979 4.81592C7.14646 4.81592 6.84424 5.11814 6.84424 5.57147V7.83814C6.84424 8.06481 6.91979 8.21592 7.07091 8.36703L8.58202 9.87814C8.73313 10.0293 8.95979 10.1048 9.1109 10.1048C9.26202 10.1048 9.48868 10.0293 9.63979 9.87814C9.94202 9.57592 9.94202 9.12258 9.63979 8.82036L8.35535 7.53592Z" fill="currentcolor"></path>
        </svg></div>
      <div>{{ 't6d8253b5' | t }}</div>
    </div>
    <div id="w-node-bc40255d-9037-ba89-6487-bbbc7cc6aaa3-ad78ada6" class="announcement-usp">
      <div class="icon-16 w-embed"><svg width="auto" height="auto" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.76533 2.03795C7.95937 1.39751 8.86188 1.39751 9.05593 2.03795L10.1424 5.62416C10.2897 6.11036 10.6685 6.49086 11.1524 6.63884L14.722 7.73038C15.3595 7.92532 15.3595 8.83202 14.722 9.02696L10.7222 10.25C10.5071 10.3158 10.3388 10.4849 10.2733 10.701L9.05593 14.7194C8.86188 15.3598 7.95937 15.3598 7.76533 14.7194L6.54792 10.701C6.48245 10.4849 6.31411 10.3158 6.09902 10.25L2.09921 9.02696C1.46172 8.83202 1.46172 7.92532 2.09921 7.73038L6.09902 6.50731C6.31411 6.44155 6.48245 6.27242 6.54792 6.05633L7.76533 2.03795Z" fill="currentcolor"></path>
          <path d="M2.43857 1.98968C2.53558 1.66946 2.98684 1.66946 3.08385 1.98968L3.30572 2.722C3.3712 2.93809 3.53953 3.1072 3.75461 3.17298L4.48355 3.39588C4.8023 3.49334 4.8023 3.94669 4.48355 4.04416L3.75461 4.26705C3.53953 4.33284 3.3712 4.50195 3.30572 4.71803L3.08385 5.45036C2.98684 5.77058 2.53558 5.77058 2.43857 5.45036L2.2167 4.71803C2.15122 4.50195 1.9829 4.33284 1.76781 4.26705L1.03886 4.04416C0.720119 3.94669 0.720119 3.49334 1.03886 3.39588L1.76781 3.17298C1.9829 3.1072 2.15122 2.93809 2.2167 2.722L2.43857 1.98968Z" fill="currentcolor"></path>
        </svg></div>
      <div>{{ 'tn23fc32c2' | t }}</div>
    </div>
    <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="mask-6 w-slider-mask">
        <div class="slide-9 w-slide">
          <div class="announcement-usp-mobile">
            <div class="icon-16 w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.66604 12.487L5.06917 13.9137C4.71839 14.1064 4.28453 13.9655 4.10012 13.5989C4.02669 13.453 4.00135 13.2858 4.02802 13.1232L4.52398 10.1014C4.56391 9.85816 4.48673 9.60995 4.31761 9.43768L2.2167 7.29762C1.93291 7.00855 1.92711 6.5338 2.20373 6.23725C2.31388 6.11915 2.45821 6.0423 2.61438 6.01859L5.51777 5.57771C5.75149 5.54222 5.95353 5.38882 6.05805 5.16751L7.35649 2.41816C7.53188 2.04679 7.96215 1.89432 8.31752 2.0776C8.45903 2.15058 8.57358 2.27028 8.64342 2.41816L9.94185 5.16751C10.0464 5.38882 10.2484 5.54222 10.4821 5.57771L13.3855 6.01859C13.7777 6.07814 14.0494 6.45865 13.9924 6.86848C13.9698 7.03168 13.8962 7.18251 13.7832 7.29762L11.6823 9.43768C11.5132 9.60995 11.436 9.85816 11.4759 10.1014L11.9719 13.1232C12.0389 13.5314 11.7765 13.919 11.386 13.9891C11.2304 14.0169 11.0704 13.9905 10.9307 13.9137L8.33386 12.487C8.12482 12.3722 7.87509 12.3722 7.66604 12.487Z" fill="currentcolor"></path>
              </svg></div>
            <div class="text-block-7">{{ 't1f6ad604' | t }}</div>
          </div>
        </div>
        <div class="w-slide">
          <div class="announcement-usp-mobile">
            <div class="icon-16 w-embed"><svg width="auto" height="auto" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 2H0V13H2C2 14.1046 2.89543 15 4 15C5.10457 15 6 14.1046 6 13H10C10 14.1046 10.8954 15 12 15C13.1046 15 14 14.1046 14 13H16V8C16 6.34315 14.6569 5 13 5H11V2ZM11 7V9H14V7H11Z" fill="currentcolor"></path>
              </svg></div>
            <div>{{ 't190bbcf2' | t }}</div>
          </div>
        </div>
        <div class="w-slide">
          <div class="announcement-usp-mobile">
            <div class="icon-16 w-embed"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 4V7C16 9.20914 14.2091 11 12 11H10V15H0V13L0.931628 10.8706C1.25227 10.9549 1.59037 11 1.94125 11C3.74932 11 5.32537 9.76946 5.76389 8.01537L3.8236 7.5303C3.60766 8.39405 2.83157 9 1.94124 9C0.678947 9 -0.247263 7.81373 0.0588879 6.58913L0.698705 4.02986C1.14387 2.24919 2.7438 1 4.57928 1H10L12 4H16ZM9 6C9.55229 6 10 5.55228 10 5C10 4.44772 9.55229 4 9 4C8.44771 4 8 4.44772 8 5C8 5.55228 8.44771 6 9 6Z" fill="currentcolor"></path>
              </svg></div>
            <div class="text-block-9">{{ 't3923e24f' | t }}</div>
          </div>
        </div>
      </div>
      <div class="left-arrow-3 w-slider-arrow-left"><img src="{{ 'ic20-chevron-left.svg' | asset_url }}" loading="lazy" alt="" class="image-56"></div>
      <div class="right-arrow-3 w-slider-arrow-right"><img src="{{ 'ic20-chevron-right.svg' | asset_url }}" loading="lazy" alt=""></div>
      <div class="slide-nav-2 w-slider-nav w-round"></div>
    </div>
  </div>
  <div class="collection-section">
    <div class="page-padding">
      <div class="container-1116">
        <div class="title-collection-wrapper">
          <h1 class="collection-h1">{{ page.title }}</h1>
          <p class="collection-p">{{ page.content }}</p>
        </div>
        <div class="collection-filter">
          <a href="#" class="sort-button w-inline-block">
            <div class="text-block-8">{{ 'tn4de12eac' | t }}</div>
            <div class="html-embed-4 w-embed"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-sort" viewBox="0 0 10 6" width="auto" height="auto">
                <path d="M0 0h10v1H0zm0 2.5h6v1H0zM3 5H0v1h3z" fill-rule="evenodd"></path>
              </svg></div>
          </a>
        </div>
        <div class="product-grid-collection">
          <div id="w-node-e7018969-7dbe-017d-43ca-8e2863a9e14a-ad78ada6" class="collection-item"><img src="{{ 'product-collection.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 46vw, (max-width: 991px) 45vw, (max-width: 1279px) 46vw, 542px" srcset="{{ 'product-collection-p-500.png' | asset_url }} 500w, {{ 'product-collection-p-800.png' | asset_url }} 800w, {{ 'product-collection-p-1080.png' | asset_url }} 1080w, {{ 'product-collection.png' | asset_url }} 1084w" alt="">
            <div class="product-card-content">
              <div class="trustpilot-related"><img src="{{ 'stars-4.5.svg' | asset_url }}" loading="lazy" alt="" width="87">
                <p class="trustpilot-link-text _14">{{ 't5b5e2c33' | t }}<span class="text-span-7">{{ 'tccb7' | t }}</span>{{ 'tn13165f53' | t }}</p>
              </div>
              <div class="product-card-details">
                <div class="product-card-title">{{ 'tn73b4c119' | t }}</div>
                <div class="product-card-pricing-div">
                  <div class="product-card-tagline">{{ 'tn33081804' | t }}</div>
                  <div class="pricing-div-divider"></div>
                  <div class="product-card-price-paragraph">{{ 'tn337eadd0' | t }}</div>
                </div>
                <div class="product-card-variant">{{ 't5bc63127' | t }}</div>
              </div>
              <a href="#" class="quick-atc w-inline-block"><img src="{{ 'cart.svg' | asset_url }}" loading="lazy" alt=""></a>
            </div>
          </div>
          <div id="w-node-e7018969-7dbe-017d-43ca-8e2863a9e161-ad78ada6" class="collection-item"><img src="{{ 'product-collection.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 46vw, (max-width: 991px) 45vw, (max-width: 1279px) 46vw, 542px" srcset="{{ 'product-collection-p-500.png' | asset_url }} 500w, {{ 'product-collection-p-800.png' | asset_url }} 800w, {{ 'product-collection-p-1080.png' | asset_url }} 1080w, {{ 'product-collection.png' | asset_url }} 1084w" alt="">
            <div class="product-card-content">
              <div class="trustpilot-related"><img src="{{ 'stars-4.5.svg' | asset_url }}" loading="lazy" alt="" width="87">
                <p class="trustpilot-link-text _14">{{ 't5b5e2c33' | t }}<span class="text-span-7">{{ 'tccb7' | t }}</span>{{ 'tn13165f53' | t }}</p>
              </div>
              <div class="product-card-details">
                <div class="product-card-title">{{ 'tn73b4c119' | t }}</div>
                <div class="product-card-pricing-div">
                  <div class="product-card-tagline">{{ 'tn33081804' | t }}</div>
                  <div class="pricing-div-divider"></div>
                  <div class="product-card-price-paragraph">{{ 'tn337eadd0' | t }}</div>
                </div>
                <div class="product-card-variant">{{ 't5bc63127' | t }}</div>
              </div>
              <a href="#" class="quick-atc w-inline-block"><img src="{{ 'cart.svg' | asset_url }}" loading="lazy" alt=""></a>
            </div>
          </div>
          <div id="w-node-e7018969-7dbe-017d-43ca-8e2863a9e178-ad78ada6" class="collection-item"><img src="{{ 'product-collection.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 46vw, (max-width: 991px) 45vw, (max-width: 1279px) 46vw, 542px" srcset="{{ 'product-collection-p-500.png' | asset_url }} 500w, {{ 'product-collection-p-800.png' | asset_url }} 800w, {{ 'product-collection-p-1080.png' | asset_url }} 1080w, {{ 'product-collection.png' | asset_url }} 1084w" alt="">
            <div class="product-card-content">
              <div class="trustpilot-related"><img src="{{ 'stars-4.5.svg' | asset_url }}" loading="lazy" alt="" width="87">
                <p class="trustpilot-link-text _14">{{ 't5b5e2c33' | t }}<span class="text-span-7">{{ 'tccb7' | t }}</span>{{ 'tn13165f53' | t }}</p>
              </div>
              <div class="product-card-details">
                <div class="product-card-title">{{ 'tn73b4c119' | t }}</div>
                <div class="product-card-pricing-div">
                  <div class="product-card-tagline">{{ 'tn33081804' | t }}</div>
                  <div class="pricing-div-divider"></div>
                  <div class="product-card-price-paragraph">{{ 'tn337eadd0' | t }}</div>
                </div>
                <div class="product-card-variant">{{ 't5bc63127' | t }}</div>
              </div>
              <a href="#" class="quick-atc w-inline-block"><img src="{{ 'cart.svg' | asset_url }}" loading="lazy" alt=""></a>
            </div>
          </div>
          <div id="w-node-e7018969-7dbe-017d-43ca-8e2863a9e18f-ad78ada6" class="collection-item"><img src="{{ 'product-collection.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 46vw, (max-width: 991px) 45vw, (max-width: 1279px) 46vw, 542px" srcset="{{ 'product-collection-p-500.png' | asset_url }} 500w, {{ 'product-collection-p-800.png' | asset_url }} 800w, {{ 'product-collection-p-1080.png' | asset_url }} 1080w, {{ 'product-collection.png' | asset_url }} 1084w" alt="">
            <div class="product-card-content">
              <div class="trustpilot-related"><img src="{{ 'stars-4.5.svg' | asset_url }}" loading="lazy" alt="" width="87">
                <p class="trustpilot-link-text _14">{{ 't5b5e2c33' | t }}<span class="text-span-7">{{ 'tccb7' | t }}</span>{{ 'tn13165f53' | t }}</p>
              </div>
              <div class="product-card-details">
                <div class="product-card-title">{{ 'tn73b4c119' | t }}</div>
                <div class="product-card-pricing-div">
                  <div class="product-card-tagline">{{ 'tn33081804' | t }}</div>
                  <div class="pricing-div-divider"></div>
                  <div class="product-card-price-paragraph">{{ 'tn337eadd0' | t }}</div>
                </div>
                <div class="product-card-variant">{{ 't5bc63127' | t }}</div>
              </div>
              <a href="#" class="quick-atc w-inline-block"><img src="{{ 'cart.svg' | asset_url }}" loading="lazy" alt=""></a>
            </div>
          </div>
          <div id="w-node-e7018969-7dbe-017d-43ca-8e2863a9e1a6-ad78ada6" class="collection-item"><img src="{{ 'product-collection.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 46vw, (max-width: 991px) 45vw, (max-width: 1279px) 46vw, 542px" srcset="{{ 'product-collection-p-500.png' | asset_url }} 500w, {{ 'product-collection-p-800.png' | asset_url }} 800w, {{ 'product-collection-p-1080.png' | asset_url }} 1080w, {{ 'product-collection.png' | asset_url }} 1084w" alt="">
            <div class="product-card-content">
              <div class="trustpilot-related"><img src="{{ 'stars-4.5.svg' | asset_url }}" loading="lazy" alt="" width="87">
                <p class="trustpilot-link-text _14">{{ 't5b5e2c33' | t }}<span class="text-span-7">{{ 'tccb7' | t }}</span>{{ 'tn13165f53' | t }}</p>
              </div>
              <div class="product-card-details">
                <div class="product-card-title">{{ 'tn73b4c119' | t }}</div>
                <div class="product-card-pricing-div">
                  <div class="product-card-tagline">{{ 'tn33081804' | t }}</div>
                  <div class="pricing-div-divider"></div>
                  <div class="product-card-price-paragraph">{{ 'tn337eadd0' | t }}</div>
                </div>
                <div class="product-card-variant">{{ 't5bc63127' | t }}</div>
              </div>
              <a href="#" class="quick-atc w-inline-block"><img src="{{ 'cart.svg' | asset_url }}" loading="lazy" alt=""></a>
            </div>
          </div>
          <div id="w-node-e7018969-7dbe-017d-43ca-8e2863a9e1bd-ad78ada6" class="collection-item"><img src="{{ 'product-collection.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 55vw, (max-width: 767px) 46vw, (max-width: 991px) 45vw, (max-width: 1279px) 46vw, 542px" srcset="{{ 'product-collection-p-500.png' | asset_url }} 500w, {{ 'product-collection-p-800.png' | asset_url }} 800w, {{ 'product-collection-p-1080.png' | asset_url }} 1080w, {{ 'product-collection.png' | asset_url }} 1084w" alt="">
            <div class="product-card-content">
              <div class="trustpilot-related"><img src="{{ 'stars-4.5.svg' | asset_url }}" loading="lazy" alt="" width="87">
                <p class="trustpilot-link-text _14">{{ 't5b5e2c33' | t }}<span class="text-span-7">{{ 'tccb7' | t }}</span>{{ 'tn13165f53' | t }}</p>
              </div>
              <div class="product-card-details">
                <div class="product-card-title">{{ 'tn73b4c119' | t }}</div>
                <div class="product-card-pricing-div">
                  <div class="product-card-tagline">{{ 'tn33081804' | t }}</div>
                  <div class="pricing-div-divider"></div>
                  <div class="product-card-price-paragraph">{{ 'tn337eadd0' | t }}</div>
                </div>
                <div class="product-card-variant">{{ 't5bc63127' | t }}</div>
              </div>
              <a href="#" class="quick-atc w-inline-block"><img src="{{ 'cart.svg' | asset_url }}" loading="lazy" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- section 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=636ecf2d60057116cf39e03f" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
document.addEventListener('DOMContentLoaded', () => {
 document.querySelectorAll('.menu-opener').forEach(trigger => {
  trigger.addEventListener('click', function(){ 
    this.x = ((this.x || 0) + 1)%2; 
    if(this.x){ 
      document.querySelectorAll('body').forEach(target => target.classList.add('is-non-scrollable'));
 			// document.querySelectorAll('header').forEach(target => target.classList.add('fixed-state'));
      }
      else{ 
      document.querySelectorAll('body').forEach(target => target.classList.remove('is-non-scrollable'));
      // document.querySelectorAll('header').forEach(target => target.classList.remove('fixed-state'));
      } 
    });
 });
});
</script>
  <script>
 var swiperNodes = "";
 var swiperNodes = swiperNodes.concat(pagination, scrollbar);
 /* loop throw all swipers on the page */
  $('#collection-swiper').each(function( index ) {
    $( this ).append(swiperNodes);
  });
</script>
  <script>
  	var mySwiper = new Swiper ('#collection-swiper', {
    	// Optional parameters
    	spaceBetween: 8,
    	slidesPerView: 3,
    	freeMode: false,
    	loop: true,
    	centeredSlides: false,
      slidesPerGroup: 3,
      loopFillGroupWithBlank: true,
    	// Enable lazy loading
    	lazy: false,
      pagination: {
      	el: "#collection-pagination",
      	clickable: true,
    	},
    	keyboard: {
      	enabled: true,
   	  },
        breakpoints: {
      480: {
        slidesPerView: 4,
        centeredSlides: false,
        sliderPerGroup: 4,
      },
      992: {
        slidesPerView: 6,
        sliderPerGroup: 6,
      },
    }
  })
</script>
  <script>
     $('#carousel-silk-benefits').owlCarousel({
        loop: false,
        nav: false,
        margin: 15,
        dots: true,
        nav: false,
        smartSpeed: 1000,
        items: 1,
        stagePadding: 32
    })
</script>
  <script>
     $('#carousel-silk-benefits-product').owlCarousel({
        loop: false,
        nav: false,
        margin: 16,
        dots: true,
        nav: false,
        smartSpeed: 500,
        items: 1,
        stagePadding: 8
    })
</script>
  <script>
  AOS.init();
  $(document).ready(function() {
        l(), r(), AOS.init({
            once: !0
        }), $("[name=purchase_type]").click(function() {
            this.value == "onetime" ? ($(".onetime").show(), $(".autodeliver").hide()) : ($(".onetime").hide(), $(".autodeliver").show())
        })
    });
    function n(e, t) {
        t || (t = window.location.href), e = e.replace(/[\[\]]/g, "\\$&");
        var i = new RegExp("[?&]" + e + "(=([^&#]*)|&|#|$)"),
            o = i.exec(t);
        return o ? o[2] ? decodeURIComponent(o[2].replace(/\+/g, " ")) : "" : null
    }
    if ($(window).on("load", function() {
            console.log("window loaded"), AOS.init({
                once: !0
            }), n("scroll") && $("html, body").animate({
                scrollTop: $("#reviews").offset().top
            }, 1500), n("customer_posted") && $("html, body").animate({
                scrollTop: $("footer").offset().top
            }, 1500)
        }), $(".box-cotent-single-blog").length && $.each($(".box-cotent-single-blog p"), function() {
            $(this).find("img").length && $(this).addClass("p-with-img")
        }), $(".section-product-benefics").length) {
        var d = $(".section-product-benefics").offset().top + 250,
            m = $("footer").offset().top - 490;
        $(window).scroll(function(e) {
            var t = $(this).scrollTop();
            t > d ? ($(".box-submit-fixed-product2").addClass("box-submit-fixed-product"), $(".section-producto").addClass("height500"), $(".box-submit-fixed-product2").addClass("active"), t > m ? $(".box-submit-fixed-product2").addClass("pause") : $(".box-submit-fixed-product2").removeClass("pause")) : ($(".box-submit-fixed-product2").removeClass("active"), $(".box-submit-fixed-product2").removeClass("pause"), $(".box-submit-fixed-product2").removeClass("box-submit-fixed-product"), $(".section-producto").removeClass("height500"))
        })
    }
</script>
  <script>
  var Swipes = new Swiper('#happy-images-swiper', {
  loop: true,
  freeMode: false,
  spaceBetween: 0,
  centeredSlides: true,
  speed: 5000,
  autoplay: {
    delay: 1,
  },
  slidesPerView:'auto',
  allowTouchMove: false,
  disableOnInteraction: true,
  grabCursor: false,
  preloadImages: true,
  lazy: {
    loadPrevNext: true,
    loadPrevNextAmount: 2,
  },
  breakpoints: {
    320: {
      slidesPerView: 2.28
    },
    640: {
      slidesPerView: 5
    },
    768: {
      slidesPerView: 7
    },
    990: {
      slidesPerView: 7
    }
  }
});
</script>
  <script>
  	var mySwiper = new Swiper ('#review-swiper', {
    	// Optional parameters
    	spaceBetween: 20,
    	slidesPerView: 1.15,
    	freeMode: false,
    	loop: false,
    	centeredSlides: true,
      centeredSlidesBounds: true,
      slidesPerGroup: 1,
      loopFillGroupWithBlank: true,
    	// Enable lazy loading
    	lazy: true,
      pagination: {
      	el: "#review-pagination",
      	clickable: true,
    	},
      navigation: {
        nextEl: "#review-next-arrow",
        prevEl: "#review-last-arrow",
      },
    	keyboard: {
      	enabled: true,
   	  },
        breakpoints: {
      480: {
        slidesPerView: 2,
        centeredSlides: false,
        slidesPerGroup: 2,
        loopFillGroupWithBlank: true,
      },
      992: {
        slidesPerView: 3,
        slidesPerGroup: 3,
        loopFillGroupWithBlank: true,
      },
    }
  })
</script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}